[Unit]
Description=Police instance %i

[Service]
ExecStart=/usr/lib/police/police.sh %h/.config/police/%i
Restart=always

[Install]
WantedBy=default.target